html,body{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
}

a{
    color: white;
}

header{
    display: flex;
    align-items: center;
    padding: 20px 50px;
    max-width: 1400px;
    margin: 0 auto;
    height: 40px;
    position: fixed;
    top: 0;
    z-index: 2;
}

header .logo{
    margin-right: 40px;
    margin-left: 25px;
}

header img{
    width: 200px;
}

header a.logo{
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: -80px;
}

@media(min-width:1000px){
    header a.logo{
        margin-right: 40px;
        position: relative;
        top: initial;
        left: initial;
        margin-left: initial;
    }
    header img{
        width: 200px;
    }
}

.centerNav{
    display: none;
}

@media(min-width:1000px){
    .centerNav{
        display: block;
    }
}

.centerNav a, .rightNav a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    padding: 0 ;
    margin: 0 13px;
    position: relative;
}

.centerNav a:before, .rightNav a:before{
    content: '';
    width: 0;
    right: 0;
    bottom: -3px;
    height: 1px;
    background-color: white;
    position: absolute;
    transition: width .2s linear;
}

.centerNav a:hover:before, .rightNav a:hover:before{
    right: initial;
    width: 100%;
    left: 0;
    
}

.rightNav{
    position: fixed;
    right: 0;
    top: 20px;
    height: 40px;
    display: flex;
    align-items: center;
}

.rightNav a{
    display: none;
}

@media(min-width: 1000px){
    .rightNav a{
        display: inline-block;
        padding: 0 ;
        margin: 0 50px;
    }
}

.hamburger{
    position: fixed;
    right: 6px;
    top: 13px;
    color: white;
    padding: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 3;

}

.hamburger span{
    display: block;
    width: 16px;
    height: 2px;
    margin: 2px 0;
    background-color: white;
    position: relative;
    transition: all 0.2s linear;
}

.hamburger.active span:first-child, .hamburger.active span:nth-child(2){
    transform: rotate(45deg);
    
}

.hamburger.active span:nth-child(2){
    transform: rotate(-45deg);
    top: -4px;
}

.hamburger.active span:last-child{
    opacity: 0;
}

.shadow.active{
    position: fixed;
    inset: 0;
    background-color: rgb(0,0,0,.3);
    z-index: 1;
}

nav.mobileNav{
    display: none;
}

nav.mobileNav.active{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    width: 290px;
    background-color: black;
    padding-top: 70px;
}

nav.mobileNav.active a{
    display: block;
    border-bottom: 1px solid #222;
    text-transform: uppercase;
    padding: 15px;
    text-decoration: none;
    text-align: right;
    font-family: sans-serif;
    padding: 16px 25px;
}


/* content seciton */

section{
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    display: flex;
    align-items: flex-end;
}

section div.content{
    position: absolute;
    bottom: 15vh;
    left: 50px;
    text-transform: uppercase;
    max-width: 360px
    

}

section div.content h2{
    font-size: 40px;
    margin: 0;
    font-family: 'Ubuntu', sans-serif ;
}

section div.content h3{
    margin: 0 0 10px;
    font-family: 'Ubuntu', sans-serif ;
}

section .content a{
    border: 2px solid white;
    padding: 10px 50px;
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
}

section .content-outer{
    flex-grow: 1;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}



/* footer section  */
footer{
    padding: 30px 100px ;
}

footer nav{
    text-align: center;
}

footer nav span{
    color: #777;
    padding-right: 40px;
}

footer nav a{
    padding: 0 12px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    transition: color .2s linear;
}

footer nav a:hover{
    color: gray;
}